{% extends "AppCoder/padre_piezas.html"%}
{% load static %}
{% block Contenido_Que_Cambia %}
<center>
    <br>
<h2><FONT COLOR="black">Buscar Piezas</FONT></h2>
<br>
    <form action="{% url 'piezaBuscar' %}" method="get">
        <label for="nombre"><b> Nombre: </b></label>
        <input type="text" id="nombre" name="nombre" value="{{ request.GET.nombre }}">
        <button type="submit">Buscar</button>
    </form>
    <p><FONT COLOR="black">Para ver la lista completa, solo deja vacio el campo de arriba y presiona buscar.</FONT></p>
    </form>
    <br>
    {% if resultados %}
    <h3><FONT COLOR="blue">Resultados</FONT></h3>
    <br>
    <ul>
        {% for piezas_disp in resultados %}
            <li><b> <FONT COLOR="blue">NOMBRE:</FONT> </b><b>{{ piezas_disp.nombre }}</b> <b>| <FONT COLOR="blue">PRECIO:</FONT> </b><b> {{ piezas_disp.precio }}</b> <b>| <FONT COLOR="blue">CANTIDAD:</FONT> </b><b> {{ piezas_disp.cantidad}}</b></li>
            <br>
        {% endfor %}
    </ul>
</center>
    {% endif %}
{% endblock %}