{% extends "AppCoder/padre.html" %}
    {% load static %}
{% block Contenido_Que_Cambia %}
    
    <h1><FONT FACE="Niiiii-trous">NOSotros</FONT></h1>
    <p><b><FONT SIZE="6">Somos TOP SEC<FONT COLOR="red">R</FONT>ET</FONT></b></p>
    <p><b><FONT SIZE="4">Tenemos a disposición varios mecanicos especializados en cada parte esencial del vehiculo!</FONT></b></p>
    <p><b><FONT SIZE="4">Realizamos mantenimiento preventivo/correctivo,reparamos y modificamos vehiculos para un alto rendimiento!</FONT></b></p>

{% endblock %}